@font-face {
  font-family: "PT Sans";

  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height:100%;
}



body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  display:flex;
  flex-direction:column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:1200px;
  height:100vh;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;

}
input, select, button {
  font-family: inherit;

}
.button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;

}
.product-favorite {
  padding: 9px 15px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.product-favorite-active {
  background-color: #7DB54F;
  
  
}
.button-reset {
  font-family: inherit;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  
}
.button-more {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  
}
.button-favorite {
  font-family: inherit;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;

}
.button-all {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
.rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
 
}
.button-order {
  font-family: inherit;
  position: absolute;
  right: 120px;
  top: 30px;
  cursor: pointer;
  border: none;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color:#ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  
}
.page-header {
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}
.navigation {
display: flex;
margin: 0 auto;
outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width:390px;
  padding: 0;
  margin-right: 0 30px ;
  list-style-type: none;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;

}

.navigation-user {
  width:300px;
  margin-left:auto;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;
}
.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;
}
.user-navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;
}
.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;
}

.main-container {
  flex-grow: 1;
  outline:2px dashed rgba(233, 21, 21, 0.8);
  outline-offset: -2px;
  padding-top: 35px; 
  
}
.navigation-logo {
  width:140px;
  margin: auto;
}
.intro {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.page-container {
  margin:0 auto;
}
.logo {
  display:block;
  margin: 0 auto;
  margin-bottom: 82px;;
}
.advantages-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline:2px dashed rgba(216, 184, 184, 0.8);
  outline-offset: -2px;
  margin: 0;
  padding:0;
  list-style-type: none;
  padding-left: 0;
  
}
.advantages {
  font-family: "PT Sans", sans-serif;
}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.advantages-description {
  margin: 0;
} 
.advantages-item-town {
  grid-column: 1 / -1;
}
.advantages-item-bridge {
  grid-column: 1 / -1;
}
.advantages-item-subreason {
  grid-column: 1 / 4;
  list-style-type: none;
  padding-left: 0;
}

.subscribe {
  color: #ffffff;
  background-image: url("../images/background-email.jpg");
  background-repeat: no-repeat;
}
.caption {
  line-height: 26px;
  font-weight: 700;
}
.gallery-title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-phone {
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  outline:2px dashed rgba(233, 184, 21, 0.8);
  outline-offset: -2px;
}
.footer-contacts-logo {
  margin-right: 70px;
  outline:2px dashed rgba(107, 190, 11, 0.8);
  outline-offset: -2px;
}
.page-footer-container {
  display:flex;
  margin:0 auto;
  margin-top: 0;
  margin-bottom: 14px;
  outline:2px dashed rgba(21, 233, 152, 0.8);
  outline-offset: -2px;
}

.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;

}
.main-title {
  background-image: url("../images/filter.jpg");
  color:#ffffff
}

.catalog-products {
  padding-top:60px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  width: 116px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline:2px dashed rgba(95, 21, 233, 0.8);
  outline-offset: -2px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 8px; 
  margin-bottom: 8px;
  
  outline:2px dashed rgba(21, 148, 233, 0.8);
  outline-offset: -2px;
}
.footer-social-link {
  display: block;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-telegram {
  background-image: url("images/telegram.svg");
}

.footer-social-youtube {
  background-image: url("images/youtube.svg");
}

.footer-social-vk {
  background-image: url("images/vk.svg");
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-logo {
  width: 115px;
}
.contacts-phone {
  width: 720px;
  
}
/* Breadcrumbs */
.breadcrumbs {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0; 
  color: #242424;
  list-style-type: none;
}
/* Link */
.breadcrumbs-link {
  color: inherit;
}
.select-control {
  display: block;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 16px;
  padding: 16px; 
  margin-left: auto;
}
 .select-control.button-light {
  width: 254px;
  height: 21px;

}
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.catalog-products {
display:flex;
}
.catalog-filter {
  width:1059px;

}
.catalog-right-column {
  width: 1059px;
}

/* Label */
.control-label {
  font-weight: 700;
}
.sorting-container {
  color: #000000;
  background-color: #ffffff;
}
.button-light {
  color: #000000;
  background-color: #ffffff;
}
.button-social {
  width:40px;
  height:40px;
}

.product-card {
  background-color: #ffffff;
  list-style-type: none;
  width: 340px;;
  margin-bottom: 20px;
  margin-right: 20px;
  
}
.product-card:nth-child(3n) {
  margin-right: 0;
}

/* Link */
.product-card-link {
  text-decoration: none;
}

/* Title */
.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

}

/* Price */
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px); 
  list-style-type: none;
  gap: 18px; 
  margin-bottom:24px;
  margin: 0;
  padding: 0;
 
}
.pagination-container {
  display: flex;
  padding: 16px; 
  background-color: #ffffff;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
  }

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  list-style-type: none;

}
.pagination-show-more {
  justify-content: space-between;
  
}

